<section id="<%= widget.getId() %>">

	<a name="<%= widget.getId() %>"></a>

	<div class="bar">
		<a href="#<%= widget.getId() %>">
			<h2><%= widget.getName() %></h2>
		</a>
	</div>

	<%- widget.getContent() %>

</section>